<h1>Listing amas</h1>

<table>
  <tr>
    <th>Url</th>
    <th>Author</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @amas.each do |ama| %>
  <tr>
    <td><%= ama.url %></td>
    <td><%= ama.author %></td>
    <td><%= link_to 'Show', ama %></td>
    <td><%= link_to 'Edit', edit_ama_path(ama) %></td>
    <td><%= link_to 'Destroy', ama, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Ama', new_ama_path %>
