<h1 class = "h1_neat" style = "margin:10px">
	<% @profile_link = "http://www.reddit.com/user/#{@ama.author}"%>
	<a href="<%=@ama.url%>">"<%= @ama.title %>"</a> by 
	<a href="<%=@profile_link%>"><%=@ama.author %></a>
</h1>

<%@ama.comments.each do |comm|%>
	<%if comm.parent_id == @ama.threadhash %>
		<br>
		<br>
	<%end%>
	<div class= "box_round" style="margin:10px;width:76.5%;border:1px solid gray;padding:8px;background:#BFEFFF;">
		<p><%=comm.author%> writes:</p>
		<p><%=raw m comm.body%></p>
	</div>	
<% end %>

<%= link_to 'Edit', edit_ama_path(@ama) %> |
<%= link_to 'Back', amas_path %>
