<p id="notice"><%= notice %></p>

<p>
  <b>Url:</b>
  <%= @ama.url %>
</p>

<p>
  <b>Author:</b>
  <%= @ama.author %>
</p>

<p>
	<%=@ama.title%>
	<%=@ama.date%>
	
</p>
<%@ama.comments.each do |comm|%>
	<div style="margin:10px;width:76.5%;border:1px solid gray;padding:8px;background:#AFEEEE">
		<p><%=comm.author%> writes:</p>
		<p><%=comm.body%></p>
	</div>	
<% end %>

<%= link_to 'Edit', edit_ama_path(@ama) %> |
<%= link_to 'Back', amas_path %>
